pkgbase = devsy-bin
	pkgdesc = CLI for Devsy
	pkgver = 1.14.1
	pkgrel = 1
	url = https://devsy.sh
	arch = x86_64
	license = MPL-2.0
	provides = devsy
	conflicts = devsy
	options = !strip
	source = devsy::https://github.com/devsy-org/devsy/releases/download/v1.14.1/devsy-linux-amd64
	sha256sums = 19b69f235828d1202888fce4b2a958ccbcae8a77c5301e04173572a03d4aa235

pkgname = devsy-bin
