pkgbase = devsy-bin
	pkgdesc = CLI for Devsy
	pkgver = 1.15.0
	pkgrel = 1
	url = https://devsy.sh
	arch = x86_64
	license = MPL-2.0
	provides = devsy
	conflicts = devsy
	options = !strip
	options = !debug
	source = devsy::https://github.com/devsy-org/devsy/releases/download/v1.15.0/devsy-linux-amd64
	sha256sums = 0633d0fda570ac799b4989596287386b87b11cc8f7233a80267150f9cb16f69b

pkgname = devsy-bin
