pkgbase = devsy-desktop-bin
	pkgdesc = Desktop application for Devsy
	pkgver = 1.15.0
	pkgrel = 1
	url = https://devsy.sh
	arch = x86_64
	license = MPL-2.0
	depends = glibc
	depends = zlib
	depends = hicolor-icon-theme
	provides = devsy-desktop
	conflicts = devsy-desktop
	noextract = Devsy_linux_x86_64.AppImage
	options = !strip
	options = !debug
	source = Devsy_linux_x86_64.AppImage::https://github.com/devsy-org/devsy/releases/download/v1.15.0/Devsy_linux_x86_64.AppImage
	sha256sums = fe2dad6131f171f4057a8ee5cec16762ec1e6d6fdeafbfcb4ea0d53072d7c47c

pkgname = devsy-desktop-bin
