pkgbase = devsy-desktop-bin
	pkgdesc = Desktop application for Devsy
	pkgver = 1.16.1
	pkgrel = 1
	url = https://devsy.sh
	arch = x86_64
	license = MPL-2.0
	depends = glibc
	depends = zlib
	depends = hicolor-icon-theme
	provides = devsy-desktop
	conflicts = devsy-desktop
	noextract = Devsy_linux_x86_64.AppImage
	options = !strip
	options = !debug
	source = Devsy_linux_x86_64.AppImage::https://github.com/devsy-org/devsy/releases/download/v1.16.1/Devsy_linux_x86_64.AppImage
	sha256sums = 9786a589ffac0b18ea470e4ea13704fee5a37fef864dd7da35d2ca132f9d2216

pkgname = devsy-desktop-bin
